/****************
	General 
 ****************/

 body {
  padding-top: 50px;
  margin-bottom: 60px;
  font-family:'Oxygen', sans-serif;
  font-size: 1.25em;
  color: #382F29;
 }
 a {
 	color: #c76c0c
 }
 a:hover {
 	color: #AE5E0A;
 	text-decoration: none;
 }
.container {
	 max-width: 1024px;
}
.container .jumbotron, .container-fluid .jumbotron {
	border-radius: 0;
}
.jumbotron p {
	font-size: 1.1em;
	text-align: justify;
	padding: 15px;
}
h1, .jumbotron h1 {
	font-family: 'Lovers Quarrel', cursive;
	font-size: 4rem;
	text-shadow: 1px 2px 1px rgba(0,0,0,.3);
	margin-top: 0;
}
h2 {
	font-size: 2.5em;
	font-family: 'Lovers Quarrel', cursive;
}
li {
	list-style: none;
}

/****************
	Backgrounds 
 ****************/

.jumbotron {
	background-color: rgba(211, 195, 160, 0.3);
	margin-bottom: 0;
}
.jumbotron h1, h4, p {
	background-color: rgba(243, 243, 243, .5);
	padding: 10px;
	margin-top: 0px;
}
#bio, #doit, #custom {
	background: url('../img/bg1-s.jpg') ;
	background-repeat: no-repeat;
	background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
#art {
	background-size: contain;
	background-color: #fff;
}

/****************
	Navbar 
 ****************/

.navbar-brand span {
	font-family: 'Lovers Quarrel', cursive;
	font-size: 1.5em;
}
.navbar {
	min-height: 20px;
}

/****************
 	Foot nav 
 ****************/

.btn-default {
	color: #333;
	background-color: #fff;
	border: 0;
	margin-bottom: 0;
}

/****************
	Carousel 
 ****************/

#car.container {
	padding: 0 0;
}
.carousel-caption {
	padding: .5em;
	padding-bottom: 0;
	margin-bottom: 0;
	padding-top: 10px;
	right: 0;
	left: 0;
	background-color: rgba(243, 243, 243, .5);
	text-shadow: 1px 2px 1px rgba(0,0,0,1);
	color: #fff;
}
.carousel-caption h1 {
	text-shadow: 1px 2px 1px rgba(0,0,0,1);
}
.carousel-caption p {
	font-size: 1.25em;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
	top: 39%;
}
.glyphicon-chevron-right:before, .glyphicon-chevron-left:before  {
	text-shadow: 1px 2px 1px rgba(0,0,0,1);
	color: #fff;
	font-family: 'Lovers Quarrel', cursive;
	font-size: 4em;
	content: "›"
}
.glyphicon-chevron-left:before {
	content: "‹"
}

/****************
	Bio block 
 ****************/

#bio img {
	max-width: 36%;
	border-radius: 50%;
	shape-outside: circle();
	margin: 5px;
	float: right;
	vertical-align: middle;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, rgba(255,228,181,0.1)), color-stop(0.67, rgba(211, 195, 160, 0.3)));
	background-image: -moz-linear-gradient(center bottom, rgba(255,228,181,0.1) 33%, rgba(211, 195, 160, 0.3) 67% );
	padding: 15px;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

/****************
 	Art gallery 
 ****************/

#art ul li {     
  list-style:none;
  margin-bottom:10px;
}
#art ul li p {     
  padding-top: 3px;
  text-align: center;
  background: transparent;
}
#art p {
	text-align: center;
	font-size: .9em;
}
#elist a img, ul li img {
  cursor: pointer;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, rgba(255,228,181,0.1)), color-stop(0.67, rgba(211, 195, 160, 0.3)));
	background-image: -moz-linear-gradient(center bottom, rgba(255,228,181,0.1) 33%, rgba(211, 195, 160, 0.3) 67% ); 
	padding: 20px;
}
ul li img:hover {
	-moz-box-shadow: 0 0 .65em .325em rgba( 0, 0, 0, .1 );
	-webkit-box-shadow: 0 0 .65em .325em rgba( 0, 0, 0, .1 );
	box-shadow: 0 0 .65em .325em rgba( 0, 0, 0, .1 );
	bottom: .26em;
	}
.modal-body {
	padding: 5px;
}
.modal-content {
	border-radius: 2px;
}
.modal-dialog img {
	text-align: center;
	margin: 0 auto;
}
.controls {          
  width: 50px;
  display: block;
  font-size: 1.25em;
  padding-top: 7px;
  font-weight: bold;          
}
.next {
  float:right;
  text-align:right;
}

/****************
 	Rollover 
 ****************/

.read-more:after {
  	content: " >>";
}
.rollover-blocks {
 	margin-top: 20px;
}
.rollover-blocks .roll-up {
	position: absolute;
	bottom: -50%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	max-width: 30em;
}
.rollover-blocks .roll-up p, .rollover-blocks .roll-up a {
	display: block;
	padding: 10px;
	background-color: rgba(243, 243, 243, .5);
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
}
.rollover-blocks .roll-up a {
  margin: 0;
  padding-top: 0;
  padding-bottom: 10px;
}
.rollover-blocks > div {
  overflow: hidden;
  position: relative;
}
.highlight {
	margin: 0 auto;
}
.rollover-blocks > div.highlight:before {
  position: absolute;
  left: 20px;
  bottom: 20px;
  content: "Join us!";
  width: 100px;
  height: 100px;
  text-align: center;
  font-weight: 700;
  padding-top: 40px;
  background-color: rgba(243, 243, 243, .5);
  /*color: white;*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rollover-blocks > div:hover > .roll-up, .rollover-blocks > div:focus > .roll-up {
  bottom: 0;
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rollover-blocks > div:hover:before, .rollover-blocks > div:focus:before {
  bottom: 150px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/****************
 	Etsy
 ****************/

#elist a {
	display: block;
	text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 180px;
  padding: 3px;
}
#elist img:hover {
  -moz-box-shadow: 0 0 .65em .325em rgba( 0, 0, 0, .1 );
  -webkit-box-shadow: 0 0 .65em .325em rgba( 0, 0, 0, .1 );
  box-shadow: 0 0 .65em .325em rgba( 0, 0, 0, .1 );
  border: transparent;
}

/****************
 	Quotes 
 ****************/

blockquote {
  display:block;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  /*Font*/
  font-family: 'Lovers Quarrel', cursive;
  font-size: 2.25em;
  line-height: 1.2;
  text-align: justify;
  /*Borders */
  border-left: 15px solid #c76c0c;
  border-right: 2px solid #c76c0c;
  /*Box Shadow*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}
blockquote::before {
  content: "“";
  font-size: 4em;
  color: #c76c0c;
  /*Positioning*/
  position: absolute;
  left: 10px;
  top: -10px;
}

